.header {
  height: var(--header-height);
  background-color: var(--dark);
  position: sticky;
  top: 0;
  z-index: 2;

  .header__main-container {
    height: 100%;
    padding: 0 12px;

    .header__nav {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__nav--list {
        flex: 1 1 auto;
        display: flex;

        li {
          margin: 0 8px;
          a {
            color: var(--white);
          }

          .active {
            color: var(--accent-ambre);
          }
        }
      }

      .right-nav {
        justify-content: flex-end;
      }
    }
  }

  .header__logo {
    font-size: 1.4rem;
    color: var(--white);
  }
}

.second-header {
  height: var(--header-height);
  background-color: var(--nude);
  position: sticky;
  top: var(--header-height);
  z-index: 2;

  .header__second-container {
    height: 100%;
    padding: 0 12px;

    .header__second-nav {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__second-nav--list {
        flex: 1 1 auto;
        display: flex;

        li {
          margin: 0 8px;
          a {
            color: var(--dark);
          }

          .active {
            color: var(--white-rose);
          }
        }
      }

      .right-nav {
        justify-content: flex-end;
      }
    }
  }
}

.drawer__nav--list {
  li {
    font-size: 1.6rem;
    margin: 16px 4px;

    a {
      color: var(--dark);
    }

    a:focus {
      color: var(--accent-ambre);
    }
  }
}
