.allFormations__cascader {
  width: 100%;

  .allFormations__cascaderItem--main {
    position: relative;
    min-width: 200px;
    max-width: 300px;
    border: solid 1px var(--separator-grey);
    border-radius: 8px;
    padding: 4px 16px;
    min-height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .allFormations__cascaderItem--imageFormation {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      z-index: 0;
      opacity: 0.2;
    }

    .allFormations__cascaderItem--title_group {
      max-width: 100%;
    }

    .allFormations__cascaderItem--content {
      .allFormations__cascaderItem--imagePhotoTexte,
      .allFormations__cascaderItem--imageVideo {
        max-width: 100%;
      }
    }

    .allFormations__cascaderItem--buttons_group {
      display: flex;
      gap: 4px;
      margin-top: 16px;
      .allFormations__cascaderItem--button {
        font-size: 12px;
        height: auto;
        border-radius: 0;
        transition: background-color 0.25s !important;
        span {
          color: white;
          svg {
            fill: white;
          }
        }
      }

      .edit {
        background-color: color-mix(in lab, var(--nude) 50%, var(--edit)) !important;
      }
      .edit:hover {
        background-color: color-mix(in lab, var(--nude) 20%, var(--edit)) !important;
      }

      .delete {
        background-color: color-mix(in lab, var(--nude) 50%, var(--danger)) !important;
      }
      .delete:hover {
        background-color: color-mix(in lab, var(--nude) 20%, var(--danger)) !important;
      }

      .add {
        background-color: color-mix(in lab, var(--nude) 50%, var(--validate)) !important;
      }
      .add:hover {
        background-color: color-mix(in lab, var(--nude) 20%, var(--validate)) !important;
      }
    }
  }
}

.modal {
  .validate {
    background-color: var(--validate) !important;
  }

  .modal__body {
    .modal__body--formation {
      display: flex;
      flex-direction: column;
    }
  }
}
