.formationPage__main-container {
  .formationPage__wrapper {
    .formationPage__questions-collapse-container {
      .formationPage__accordion {
        position: sticky;
        top: calc(var(--header-height) + 1vh);
      }
      .formationPage__collapse-item {
        cursor: pointer;
      }
      .formationPage__collapse-item:not(:last-child) {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: solid 1px var(--white-rose);
      }
    }
    .formationPage__title {
      margin-bottom: 16px;
    }
    .formationPage__title-h5 {
      font-weight: lighter;
    }

    .formationPage__content-wrapper {
      padding: 32px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .formationPage__video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 800px;
      }
    }

    .formationPage__quiz-wrapper {
      width: 100%;
      .formationPage__questions-answers-bloc {
        padding: 16px;
        margin: 16px 0;
        border: solid 1px var(--white-rose);
        .formationPage__answer-bloc {
          flex: 1 1 100%;
          display: flex;
          justify-content: space-between;
          padding: 16px;
          border-radius: 8px;
          margin: 4px 0;
        }
        .formationPage__answer-bloc:hover {
          background-color: var(--white-rose);
        }
      }
    }
  }
}

.content--fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.content--fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.formationPage__quiz-valide--container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
}

.quiz-reussi {
  background-color: rgba(0, 180, 10, 0.1);
  border: solid 1px rgba(0, 180, 10, 1);
}

.quiz-echec {
  background-color: rgba(180, 0, 10, 0.1);
  border: solid 1px rgba(180, 0, 10, 1);
}
