.loginForm__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;

  .loginForm__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .loginForm__formContainer {
    position: absolute;
    width: fit-content;
    padding: 48px;
    /* background-color: color-mix(in lab, var(--nude) 90%, transparent); */
    background-color: color-mix(in lab, #000 80%, transparent);
    border-radius: 16px;

    .loginForm__formItem {
      label {
        color: white;
      }
    }
  }

  .login__buttons-container {
    display: flex;
    gap: 32px;
    position: absolute;
    left: 50%;
    bottom: 18vh;
    transform: translate(-50%);
  }
}
